.lightblue {
    background-color: #3D66E5;
    display: flex;
    flex-direction: row;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content: space-around;
}
body{
    padding: 0px;
    margin: auto;
    width: 100%;
}

.but {
 color: green;
 height: 30px;
 width: 80px;
 font-size: x-small;
}
.float {
    float: right;
}
.menu-bar {
    display: flex;
    width: 100%;
}

.menu-bar ul {
    padding: 0px;   
    text-align: center; 
}
.menu-bar ul li {
    float: left;
    color: black;
    list-style: none;
    width: 120px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    font-size: 15px;
}
.menu-bar ul li ul li {
    border-radius: 0px;
    width: 160px;
    background-color: white;
}
.menu-bar ul li ul {
    display: none;
}
.menu-bar ul li:hover ul{
    display: block;
}
.menu-bar ul li:hover {
    background-color: #3D66E5;
}
.menu-bar ul li:hover ul li ul {
    display: none;
}
.menu-bar ul li ul li:hover ul {
    display: block;
}
.menu-bar ul li ul li {
    position: relative;
}
.menu-bar ul li ul li ul {
    position: absolute;
    left: 140px;
    top: 0px;
}
.sub-arrow::after {
    content: '\203A';
    float: right;
    padding-right: 30px;
}
.menu-bar ul li ul li:hover .sub-arrow::after {
    content: '\2039';
}
.sub-arrows::after {
    content: '\203A';
    padding-left: 10px;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.home{
    border-radius: 20px;
    background-color: #3D66E5;
    height: 15px;
    width: 40px;
}

img{
    border-color: gray;
}
.text-slide{
    background-color: #3D66E5;
    text-align:center;
    height: 25px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 15px;
}
.two,.one{
    padding: 15px;
    justify-content: space-around;

}
.three{
    padding: 10px;
    font-size: smaller;
}
.head{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 10px;
}
.text-about{
    text-align: justify;
    width: 75%;
    color: gray;
    margin: 0 auto;
    line-height: 1.5;
}
.lightblue2 {
    background-color: #3D66E5;
    display: flex;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content: space-around;
    margin: 0 auto;
    padding: 100px;
}
.head{
    align-content: center;
    width: 100px;
    flex-direction: row;
    margin: 0 auto;
    
}
.buttons{
    display: flex;
    justify-content: space-around;
}
.width{
    background-color: white;
    box-shadow: 2px 2px 10px gray;
    width: 300px;
    height: 120px;
    padding: 30px;
    color: #3D66E5;
}
.monthly{
    width: 300Px;
}
#mis{
    display: inline-block;
    color: #3D66E5;
    width: 70%;
    text-indent: 40px;
}
#up{
    display: inline-block;
    color: #3D66E5;
    width: 25%;
}
.main-div {
    width: 100%;
    display: flex;
}
.div-1 {
    width: 70%;
}
.div-2 {
    width: 25%;
}
.mission{
    width: 70%;
    display: flex;
    justify-content: space-around;
    color: #3D66E5;
}
.missions {
    background-color: white;
    box-shadow: 0px 0px 0.8px gray;
    width: 45%;
    height: 70px;
    color: #3D66E5;
    display: flex;
    text-indent: 20px;
}
.padd {
    padding: 10px;
}
.fonts {
    color: gray
}
.imagegallery {
    display: flex;
    width: 85%;
    margin: 0 auto;
}
.imagegallery img {
    width: 200px;
    
}
.lastgray {
    background-color: #232733;
    width: 100%;
    display: flex;
}
.lastgray p {
    color: gray;
}
.fas fa-phone-square-alt {
    color: green;
}
.headoffice {
    padding-top: 40px;
    padding-left: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    line-height: 1.5;
}
.liststyle {
    list-style: none;
}
.color {
    color: gray;
    line-height: 1.5;
    font-size: 16px;
}
.links {
    width: 30%;
    color: white;
    font-size: 20px;
}
.links h5 {
    padding-top: 15px;
    padding-left: 20px;
}
}
.socialcontacts {
    width: 30%;
    color: white;
    font-size: 20px;
}
hr {
    width: 90%;

}
.icons {
    color: rgb(78, 78, 248);
    padding-left: 20px;
    
}
.texts {
    background-color: #3D66E5;
    color: white;
    font-size: 13px;
    padding-left: 30px;
    height: 30px;
    padding-top: 18px;
}

